{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
  .carousel-fade .carousel-item, .carousel-item img  {
  height: 60vh;
}

  #nom {
    background-color: rgba(100, 100, 100, 0.5);
    border: 1px;
    border-radius: 10px;
  }
</style>

<h1>{%trans%}Bienvenue sur le site !{%endtrans%}</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide m-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% set n = 1 %}
    {% for flag in flags %}
    {% if n == 1 %}
    <div class="carousel-item active" data-bs-interval="3500">
      <img src="https://flagcdn.com/{{ flag.getIso() }}.svg" class="img-fluid">
      <div class="carousel-caption d-none d-md-block">
        {%if app.request.getLocale() is same as('fr')%}
        <span id='nom' class="display-4 highlight">{{flag.getNomFr() | upper}}</span>
        {%else%}
        <span id='nom' class="display-4 highlight">{{flag.getNomEn() | upper}}</span>
        {%endif%}
      </div>
    </div>
    {% else %}
    <div class="carousel-item" data-bs-interval="3500">
      <img src="https://flagcdn.com/{{ flag.getIso() }}.svg" class="img-fluid">
      <div class="carousel-caption d-none d-md-block" style='text-align: center;'>
        {%if app.request.getLocale() is same as('fr')%}
        <span id='nom' class="display-4 highlight">{{flag.getNomFr() | upper}}</span>
        {%else%}
        <span id='nom' class="display-4 highlight">{{flag.getNomEn() | upper}}</span>
        {%endif%}
      </div>
    </div>
    {% endif %}
    {% set n = n + 1 %}
    {%endfor%}
  </div>
</div>

{% endblock %}