{% extends 'base.html.twig' %}

{% block title %} Classement {% endblock %}

{% block body %}

<h1>{%trans%}C'est la page des scores !{%endtrans%}</h1>
<br>
<div class="accordion" id="accordionExample">
  {% if classement_world is not empty%}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="active" aria-controls="collapseOne">
          {%trans%}Monde{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}Monde{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col"> </th>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% set number = 1 %}
            {% for game in classement_world %}
            <tr class="table-active">
              <td scope="row">#{{ number }}</td>
              <td><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% set number = number + 1 %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if classement_europe is not empty%}
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          {%trans%}Europe{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}Europe{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in classement_europe %}
            <tr class="table-active">
              <td scope="row"><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if classement_asie is not empty%}
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          {%trans%}Asie{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}Europe{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in classement_asie %}
            <tr class="table-active">
              <td scope="row"><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if classement_amerique is not empty%}
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
          aria-expanded="false" aria-controls="collapseFour">
          {%trans%}Amérique{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}Amérique{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in classement_amerique %}
            <tr class="table-active">
              <td scope="row"><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if classement_afrique is not empty%}
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
          aria-expanded="false" aria-controls="collapseFive">
          {%trans%}Afrique{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}Afrique{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in classement_afrique %}
            <tr class="table-active">
              <td scope="row"><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if classement_oceanie is not empty%}
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix">
          {%trans%}Océanie{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}Océanie{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in classement_oceanie %}
            <tr class="table-active">
              <td scope="row"><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if classement_us is not empty%}
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
          aria-expanded="false" aria-controls="collapseSeven">
          {%trans%}US States{%endtrans%}
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover table-striped">
          <caption>{%trans%}Les meilleurs scores en catégorie{%endtrans%} {%trans%}US States{%endtrans%}</caption>
          <thead class="table-primary">
            <tr>
              <th scope="col">Pseudo</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in classement_us %}
            <tr class="table-active">
              <td scope="row"><a href="/compte/{{ game.getPlayedBy().getId() }}"> {{
                  game.getPlayedBy().getPseudo()}}</a>
              </td>
              <td>{{ game.getGameScore() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}